{erl_opts, [debug_info]}.
{deps, [cf]}.
{profiles, [
            {shell, [{deps, [sync]}]},
            {eqc, [{erl_opts, [{d, 'TEST'}]}, {plugins, [rebar3_eqc]}]},
            {lint,  [{plugins, [{rebar3_eqc, {git, "https://github.com/project-fifo/rebar3-eqc-plugin.git", {branch, "rebar3-update"}}}]}]}
           ]}.
